streamlit>=1.40.0
streamlit-option-menu
streamlit-extras
streamlit-lottie

pandas
numpy
plotly
matplotlib

scikit-learn
xgboost
prophet
joblib

openpyxl
xlsxwriter

pdfplumber
PyPDF2
reportlab

pillow

geopy

requests
